<style>
.container-carrusel{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.carrusel{
    position: relative;
    width: 0px;
    height: 0px;
    transform-style: preserve-3d;
    animation: rotate 5s;
}