<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --primary-color: #98abf6;
    --background-color: #ffffff;
    --dark-color: #151515;
}

html{
    font-size: 62.5%;
    font-family: "Poppins",sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*utilidades*/ 
.container{
    max-width: 200rem;
    margin: 0 auto;
}

.heading-1{
    text-align: center;
    font-weight: 800;
    font-size: 6rem;
}

/*header*/
.container-hero {
    background-color: var(--background-color);
}


    


.hero{
    background-color: rgb(255, 255, 255);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    
}

.customer-support{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 70px;
}

.customer-support i{
    font-size: 3.3rem;
}

.content-customer-support{
    display: flex;
    flex-direction: column;
}

.container-logo{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.container-logo i{
    font-size: 3rem;
}

.container-logo h1 a{ 
    text-decoration: none;
    color: #151515;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.container-user{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.container-user .fa-user{
    font-size: 3rem;
    color: var(--primary-color);
    padding-right: 2.5rem;
    border-right: 1px solid #d79494;
}

.container-user .fa-basket-shopping{
    font-size: 3rem;
    color: var(--primary-color);
    padding-left: 1rem;
}

.content-shopping-cart{
    display: flex;
    flex-direction: column;
}

/*navbar*/

.container-navegador{
    background-color: var(--primary-color);
}
.navegador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(71, 104, 71);
    
}
.navegador .fa-bars{
    display: none;
}

.menu{
    display: flex;
    gap: 2rem;
}

.menu li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--dark-color);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.menu a::after{
    content: "";
    width: 1.5rem;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate (-50%,50%);
    opacity: 0;
    transition: all .3s ease
}

.menu a:hover::after{
    opacity: 1;
}

.menu a:hover{
    color: #fff;
}

.search-form{
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 2rem;
    background-color: #fff;
    height: 4.4rem;
    overflow: hidden;
}
.search-form input{
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    width: 25rem;
    font-size: 1.4rem;
    padding: 0 2rem;
    color: #98abf6;
    cursor: pointer;
}
.search-form input::-webkit-search-cancel-button{
    appearance: none;
}
.search-form .btn-search{
    border: none;
    background-color: #d79494;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
}
.btn-search i{
    font-size: 2rem;
    color: #fff;
}

/*BANNER*/

.banner{
    background-image: url("fotos/bañera.png");
    height: 60rem;
    background-size: cover;
    background-position: center;
}
.content-banner{
    max-width: 90rem;
    margin: 0 auto;
    padding: 15rem 0;
}
.content-banner p{
    color: rgb(0, 245, 167);
    font-size: 5rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.content-banner h2{
    color: #2c2c2c;
    font-size: 10rem;
    font-weight: 500;
    line-height: 0.7
}

.content-banner a{
    margin-top: 2rem;
    text-decoration: none;
    color: #ffffff;
    background-color: rgb(126, 114, 100);
    display: inline-block;
    padding: 1rem 3rem;
    text-transform: uppercase;
    border-radius: 3rem;
}

/* MAIN CONTENT*/
.main-content{
    background-color: aquamarine;
}

/*FEATURES*/
.container-features{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 3rem 0;
}

.card-feature{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    background-color: #fff;
    border-radius: 1rem;
    padding: 1.5rem 0;
}

.card-feature i{
    font-size: 2.7rem;
    color:rgb(94, 124, 114)
}

.feature-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.feature-content span{
    font-weight: 700;
    font-size: 1.2rem;
    color: #151515;
}

.feature-content p{
    color: #2c2c2c;
    font-weight: 500;

}

/*CATEGORIES*/

.top-categories{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-categories{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

.card-category{
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap: 2rem;

}

.category-bañeras{
    background-image: linear-gradient(#00000080, #00000080), url(fotos/bañera\ 1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.category-somier{
    background-image: linear-gradient(#00000080, #00000080), url(fotos/somier.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.category-ladrillos{
    background-image: linear-gradient(#00000080, #00000080), url(fotos/ladrillos.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.card-category p{
    font-size: 2.5rem;
    color: aliceblue;
    text-transform: capitalize;
    position: relative;
}

.card-category p::after{
    content: "";
    width: 2.5rem;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%,50%);
}

.card-category span{
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;

}

.card-category span:hover{
    color: #d79494;
}

/* TOP PRODUCTS*/

.top-products{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-options{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.container-options span{
    color: #98abf6;
    background-color: aliceblue;
    padding: 0.7rem 3rem;
    text-transform: capitalize;
    font-size: 1.4rem;
    border-radius: 2rem;
    cursor: pointer;
}

.container-options span:hover{
    background-color: #98abf6;
    color: #092fc5;
}
.container-options span.active{
    background-color: #98abf6;
    color: #092fc5;
}

/*PRODUCTS*/

.container-products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    gap: 3rem;
}

.card-product{
    background-color: #93f2e2;
    padding: 1rem 3rem;
    border-radius: 5rem;
    cursor: pointer;

}

.card-product{
    background-color: #ffffff;
    padding: 2rem 3rem;
    border-radius: 5rem;
    cursor: pointer;
box-shadow: 0 0 9px rgba(0, 0, 0, .1);
}

.container-fotos{
    position: relative;
}

.container-fotos img{
    width: 100%;
}

.content-card-product{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, .main-content);
    row-gap: 1rem;
}

.stars i{
    font-size: 3rem;
    color:red
}

.content-card-product h3{
    grid-row: 2/3;
    grid-column: 1,-1;
    font-weight: 400;
    font-size:1.6rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.content-card-product h3:hover{
    color: #93f2e2;
}

.add-cart{
    border: 2px solid rgb(183, 128, 128);
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;

    display: flex;
    align-items: center;
    justify-content: center;

}

.add-cart :hover{
    background-color: blue
}

.add-cart i{
    font-size: 1.5rem;
    color: rgb(129, 93, 46);
}

.add-cart: ho

</style>